@model Transaction


<h3>Are you sure you want to Delete this Transaction?</h3>
    <hr />
    <form asp-controller= "Transaction" asp-action="DeleteTransaction">
        <input asp-for = "RefNum" hidden/>
        <div> 
            <div>
                <label asp-for = "RefNum"></label>
                <input asp-for = "RefNum" disabled class= "form-control"/>
            </div>
            <div>
                <label asp-for = "TransactType"></label>
                <input asp-for = "TransactType" disabled class= "form-control"/>
            </div>
            <div>
                <label asp-for = "Description"></label>
                <input asp-for = "Description" disabled class= "form-control"/>
            </div>
            <div>
                <label asp-for = "AccountNumber"></label>
                <input asp-for = "AccountNumber" disabled class= "form-control"/>
            </div>
            <div>
                <label asp-for = "Amount"></label>
                <input asp-for = "Amount" disabled class= "form-control"/>
            </div>
            <div>
                <label asp-for = "AccountBalance"></label>
                <input asp-for = "AccountBalance" disabled class= "form-control"/>
            </div>
            <div>
                <label asp-for = "DateCreated"></label>
                <input asp-for = "DateCreated" disabled class= "form-control"/>
            </div>
            <div>
                <label asp-for = "RecipientAccountNumber"></label>
                <input asp-for = "RecipientAccountNumber" disabled class= "form-control"/>
            </div>
           
   
    <br><br>
    </div>
     <button asp-controller = "Transaction" type="submit" asp-action="DeleteTransaction" asp-route-refNum=@Model.RefNum><i class="bi bi-trash"></i>Yes</button>&nbsp;
    
        <a asp-controller="Transaction" asp-action="Transactions"><i class="bi bi-card-checklist"></i>Back to List</a>
    </form>
