@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1  style = "font-family:cabri;font-size : 60px;"class="display-4">Welcome</br>To Our Banking System</h1>
    <p style = "font-size : 15px;"><b>Click here<a href="https://youtu.be/8Xk3XFz4c1Y">To Know more on Registration</a>.</b></p>
    <p style = "font-size : 15px;"><b>Click here<a href="hhttps://youtu.be/0KHZY5kRLYk">To Know more on USSD Code</a>.</b></p>
    <p style = "font-family:cabri;font-size : 35px;"class="display-4"><marquee direction = "left"> Thanks for Using Our Services</marquee></p>
</div>
