@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p style = "font-family:cabri;"><b>1.The users informations are safe.</b></p>
<p style = "font-family:cabri;"><b>2.Our application is 99% efficiency.</b></p>
<p style = "font-family:cabri;"><b>3.our banking system is flexible and easy to use.</b></p>
<p style = "font-family:cabri;"><b>4.The user interface or user experience is also friendly.</b></p>
<p style = "font-family:cabri;"><b>............................................Thank You</b></p>
